<div class="jumbotron">
	<h1>About us</h1>
	<p>We are working on our One Month Rails Pinteresting app!</p>
	<p>You can check my profile from <%= link_to "Members", "/members", class: "btn btn-primary btn-lg" %></p>
</div>