<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Atsuo Habe</h3>
        <p>Cool and passionate Japanese guy.</p>
        <p>Looking for a partner being good at programming.</p>
        <p><a href="https://www.facebook.com/atsuo.habe" class="btn btn-primary" role="button">Facebook</a> 
        	<a href="https://twitter.com/H_Atsuo" class="btn btn-default" role="button">Twitter</a> 
        	<a href="http://www.linkedin.com/profile/view?id=65101476&trk=nav_responsive_tab_profile" class="btn btn-success" role="button">Linkedin</a></p>
      </div>
    </div>
  </div>
</div>